body {
    background-color: black;
    font-weight: bold;
    background-image: url("../IMG/background/lakeForest.jpg");
}

header {
    /* */
    grid-area: header;
    padding-right: 20px;
    padding-left: 20px;
    border: 2px solid black;
}

nav {
    /* Menu placeholder*/
    grid-area: sidebar;
    padding: 20px;
    text-align: left;
    border: 2px solid black;
}

article {
    /* Main frame*/
    grid-area: main;
    padding: 20px;
    border: 2px solid black;
}

.wrapper {
    /* Grid Definition */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 9% 20% 60% 10%;
    grid-template-areas: ". header header ." ". sidebar main .";

}