body{
    background-color: black;
    font-weight: bold;
}

header {
    /* */
    grid-area: header;
    background-color: cadetblue;
    padding: 20px;
    background-image: url("../IMG/background/lakeForest.jpg");
}

nav {
    /* Menu placeholder*/
    grid-area: sidebar;
    background-color: darkturquoise;
    padding: 20px;
    background-image: url("../IMG/background/lakeForest.jpg");
}

article {
    /* Main frame*/
    grid-area: main;
    background-color: coral;
    padding: 20px;
    background-image: url("../IMG/background/lakeForest.jpg");
}

.wrapper {
    /* Grid Definition */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 9% 20% 60% 10%;
    grid-template-areas: ". header header ." ". sidebar main .";

}