body {

    font-family: "Times New Roman", Times, serif;
}

header {
    /* */
    grid-area: header;
    border: 0px solid black;
}

nav {
    /* Menu placeholder*/
    grid-area: menu;
    text-align: center;
    border: 0px solid black;
}

footer {
    /* Social links*/
    grid-area: footer;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border: 0px solid black;
}

article {
    /* Main frame*/
    grid-area: main;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.6);
}

article h1 {
    text-align: center;
}

section h4{
    text-decoration-line: underline;
    text-align: center;
}

li {
    font-weight: bold;
}

.wrapper {
    /* Grid Definition */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 9% 20% 60% 10%;
    grid-template-areas: ". header header ." ". menu menu ." ". main main ." ". footer footer .";
    background-color: black;
    font-weight: bold;
    background-image: url("../IMG/background/lakeForest.jpg");
}

.mainMenu {
    color: teal;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration-line: none;
}

.mainMenu:hover{
    color: darkred;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration-line: underline;
}

#website-title {
    font-size: 30px;
    text-align: center;
}

.Gherkin {
    font-family: "Source Code Pro Light";
    color: white;
    background-color: black;
    padding: 5px;
    white-space: normal;
}

.Gherkin span{
    white-space: pre;
}

.Gherkin #keyword{
    color: chocolate;
}